# Help

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Augmente le nombre de lignes affich√©es par Pandas
# pd.set_option('display.max_rows', 100)
# pd.reset_option('display.max_rows')

In [4]:

x_test = np.array([[np.nan, 0.568],
       [np.nan, np.nan],
       [0.119, 0.119],
       [0.054, np.nan]])

x_test = pd.DataFrame(x_test, columns=['p1q0', 'p0q1'])
x_test

    p1q0   p0q1
0    NaN  0.568
1    NaN    NaN
2  0.119  0.119
3  0.054    NaN